:root,
:root.dark-theme {
  color-scheme: light dark;

  /* grid width and height (number of cells) - changed in js as required */
  --grid_size: 4;
}

html {
  margin: 0;
  box-sizing: border-box;
}

body {
  /* light mode colors */
  --background_default: #fff;
  --background_success: #61ff699f;
  --background_fail: #ff69619d;
  --grid_border: rgb(83, 57, 35);
  --grid_background: rgb(20, 14, 9);
  --cell_background: rgb(228, 201, 140);
  --text_color: #000;

  /* disable text selection (for mobile) */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;

  display: flex;
  justify-content: center;
  color: var(--text_color);
  background-color: var(--background);
  --background: var(--background_default); /* var set by js */

  overflow-x: hidden;
}

/* dark mode colors */
/* @media screen and (prefers-color-scheme: dark) {
  body {
    --background_default: rgb(43, 40, 76);
    --background_success: rgb(35, 66, 58);
    --background_fail: #472c2c;
    --grid_background: rgb(81, 89, 120);
    --grid_border: rgb(57, 54, 85);
    --cell_background: rgb(146, 142, 175);
    --text_color: #fff;
  }
} */

.hcenter {
  width: 60vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: none;
}

.vcenter {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  flex-direction: column;
  background-color: var(--grid_background);
  /* border-radius: 10px; */
  border-radius: 10px;
  padding: 3px;
  box-shadow: 0 0 4px 0px var(--grid_background);
}

.grid-outer {
  background-color: var(--grid_border);
  border-radius: 20px;
  padding: 8px;
}

.row {
  display: flex;
  flex-direction: row;
}

/* Includes some magic numbers that just makes the sizing good for any
 * (desktop) screen size. */
.cell {
  width: calc(50vmin / var(--grid_size));
  height: calc(50vmin / var(--grid_size));
  border-radius: 8px;
  margin: 0;
  font-size: min(40pt, calc(15vmin / var(--grid_size)));
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell:not(:first-child) {
  margin-left: 4px;
}
.cell:not(:last-child) {
  margin-right: 4px;
}
.row:not(:first-child) {
  margin-top: 4px;
}
.row:not(:last-child) {
  margin-bottom: 4px;
}

.full {
  background: var(--cell_background);
}

.empty {
  background: var(--grid_background);
}

.timer {
  text-align: center;
}

.size-select {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.btn {
  background: var(--cell_background);
  box-shadow: 5px 5px var(--grid_background);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:active,
.selected {
  translate: 5px 5px;
  box-shadow: none;
  color: #fff;
  background: var(--grid_background);
}

.size-select-btn {
  width: 5vmin;
  height: 5vmin;
  margin: 6px;
  font-size: 2vmin;
}

.start-btn {
  margin-right: 4vmin;
}

.start-btn,
.marathon-btn {
  width: 26vmin;
  height: 6.5vmin;
  text-align: center;
  font-size: 2vmin;
}

.start-marathon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

/* Mobile styles */

@media screen and (max-width: 660px) {
  .hcenter {
    width: 100%;
  }

  .cell {
    width: calc(80vmin / var(--grid_size));
    height: calc(80vmin / var(--grid_size));
    /* margin: 2px; */
    font-size: calc(25vmin / var(--grid_size));
  }

  .size-select {
    flex-wrap: wrap;
  }

  .size-select-btn {
    width: 10vmin;
    height: 10vmin;
  }

  .start-btn,
  .marathon-btn {
    width: 30vmin;
    height: 12vmin;
  }

  .start-marathon-container {
    flex-direction: row;
    align-items: center;
  }
}
