:root,
:root.dark-theme {
  color-scheme: light dark;

  /* grid width and height (number of cells) - changed in js as required */
  --grid_size: 4;
}

html {
  margin: 0;
  box-sizing: border-box;
}

body {
  /* light mode colors */
  --background_default: #fff;
  --background_success: #ebf3cb;
  --background_fail: #f3d2cb;
  --grid_background: rgb(83, 57, 35);
  --grid_border: rgb(54, 25, 5);
  --cell_background: rgb(228, 201, 140);
  --text_color: #000;

  /* disable text selection (for mobile) */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;

  display: flex;
  justify-content: center;
  color: var(--text_color);
  background-color: var(--background);
  --background: var(--background_default); /* var set by js */
}

@media screen and (prefers-color-scheme: dark) {
  body {
    /* dark mode colors */
    --background_default: rgb(43, 40, 76);
    --background_success: rgb(35, 66, 58);
    --background_fail: #472c2c;
    --grid_background: rgb(81, 89, 120);
    --grid_border: rgb(57, 54, 85);
    --cell_background: rgb(146, 142, 175);
    --text_color: #fff;
  }
}

.hcenter {
  width: 60vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: none;
}

.vcenter {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  flex-direction: column;
  background-color: var(--grid_background);
  border: 5px solid var(--grid_border);
  border-radius: 20px;
  padding: 8px;
}

.row {
  display: flex;
  flex-direction: row;
}

/* Includes some magic numbers that just makes the sizing good for any
 * (desktop) screen size. */
.cell {
  width: calc(50vmin / var(--grid_size));
  height: calc(50vmin / var(--grid_size));
  border-radius: 8px;
  margin: 4px;
  font-size: calc(15vmin / var(--grid_size));
  display: flex;
  align-items: center;
  justify-content: center;
}

.full {
  background: var(--cell_background);
}

.empty {
  background: var(--grid_background);
}

.timer {
  text-align: center;
}

.size-select {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.btn {
  background: var(--cell_background);
  box-shadow: 5px 5px var(--grid_background);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:active,
.selected {
  translate: 5px 5px;
  box-shadow: none;
  color: #fff;
  background: var(--grid_background);
}

.size-select-btn {
  width: 5vmin;
  height: 5vmin;
  margin: 6px;
}

.start-btn,
.marathon-btn {
  width: 20vmin;
  height: 6vmin;
  margin-right: 50px;
  text-align: center;
}

.start-marathon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

/* Mobile styles */

@media screen and (max-width: 650px) {
  .hcenter {
    width: 100%;
  }

  .cell {
    width: calc(80vmin / var(--grid_size));
    height: calc(80vmin / var(--grid_size));
    margin: 2px;
    font-size: calc(25vmin / var(--grid_size));
  }

  .size-select {
    flex-wrap: wrap;
  }

  .size-select-btn {
    width: 10vmin;
    height: 10vmin;
  }

  .start-btn,
  .marathon-btn {
    width: 40vmin;
    height: 12vmin;
    margin-right: 0;
  }

  .start-btn {
    margin-bottom: 5vmin;
  }

  .start-marathon-container {
    flex-direction: column;
    align-items: center;
  }
}
