:root,
:root.dark-theme {
  color-scheme: light dark;

  /* grid width and height (number of cells) - changed in js as required */
  --grid_size: 4;
}

html {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  /* light mode colors */
  --background_default: #fff;
  --background_success: #61ff699f;
  --background_fail: #ff69619d;
  --grid_border: rgb(83, 57, 35);
  --grid_background: rgb(20, 14, 9);
  --cell_background: rgb(228, 201, 140);
  --disabled_background: #ede1c4;
  --disabled: grey;
  --text_color: #000;

  /* disable text selection (for mobile) */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;

  color: var(--text_color);
  background-color: var(--background);
  --background: var(--background_default); /* var set by js */

  overflow: hidden;
  margin: 0;
}

/* dark mode colors */
/* @media screen and (prefers-color-scheme: dark) {
  body {
    --background_default: rgb(43, 40, 76);
    --background_success: rgb(35, 66, 58);
    --background_fail: #472c2c;
    --grid_background: rgb(81, 89, 120);
    --grid_border: rgb(57, 54, 85);
    --cell_background: rgb(146, 142, 175);
    --text_color: #fff;
  }
} */

.hcenter {
  width: 100vw;
  height: 100vh;
  margin-inline: auto;
  overflow: hidden;
}

.vcenter {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.info {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}

.grid {
  display: flex;
  flex-direction: column;
  background-color: var(--grid_background);
  /* border-radius: 10px; */
  border-radius: 10px;
  padding: 3px;
  box-shadow: 0 0 1px 1px var(--grid_background);
}

.grid-outer {
  background-color: var(--grid_border);
  border-radius: 20px;
  padding: 8px;
  box-shadow: 0 0 0 3px var(--grid_background), 5px 5px 0 2px,
    inset 0 0 2px 1px var(--grid_border), inset 2px 2px 3px -2px white,
    2px 2px 40px 20px white;
}

.row {
  display: flex;
  flex-direction: row;
}

/* Includes some magic numbers that just makes the sizing good for any
 * (desktop) screen size. */
.cell {
  width: calc(30rem / var(--grid_size));
  height: calc(30rem / var(--grid_size));
  border-radius: 8px;
  margin: 0;
  font-size: min(40pt, calc(8.5rem / var(--grid_size)));
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell:not(:first-child) {
  margin-left: 4px;
}
.cell:not(:last-child) {
  margin-right: 4px;
}
.row:not(:first-child) {
  margin-top: 4px;
}
.row:not(:last-child) {
  margin-bottom: 4px;
}

.cell.full {
  background: var(--cell_background);
  box-shadow: inset 3px 3px 4px -2px white,
    inset -2px -2px 5px -2px var(--grid_background);
}

.cell.empty {
  background: var(--grid_background);
}

.timer {
  text-align: center;
}

.size-select {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.btn {
  background: var(--cell_background);
  box-shadow: 3px 3px var(--grid_background), inset 0 0 0 1px var(--grid_border);
  /* box-shadow: 3px 3px var(--grid_background), inset 0 0 0 1px var(--grid_border), inset 2px 2px 5px -2px white, inset -2px -2px 5px -2px black; */
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-disabled {
  background-color: var(--disabled_background);
  box-shadow: 3px 3px var(--disabled), inset 0 0 0 1px var(--disabled);
  color: var(--disabled);
}

.btn-disabled.selected {
  background-color: var(--disabled);
}

.btn:active:not(.btn-disabled),
.selected {
  translate: 3px 3px;
  box-shadow: none;
  color: #fff;
  background: var(--grid_background);
}

.size-select-btn {
  width: 3rem;
  height: 3rem;
  margin: 6px;
  font-size: 2vmin;
}

.start-btn,
.marathon-btn {
  width: 14rem;
  height: 4rem;
  text-align: center;
  font-size: 2vmin;
}

.start-marathon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 1rem;
}

/* Animations */

/* Fade from green to white (after mid-marathon win) */
.flash-green {
  animation-name: flash-green;
  animation-duration: 2s;
}
@keyframes flash-green {
  from {
    background-color: var(--background_success);
  }
  to {
    background-color: var(--background_default);
  }
}
/* Identical animation as above; need to toggle between them to restart the animation */
.flash-green1 {
  animation-name: flash-green1;
  animation-duration: 2s;
}
@keyframes flash-green1 {
  from {
    background-color: var(--background_success);
  }
  to {
    background-color: var(--background_default);
  }
}

/* Mobile styles */

@media screen and (max-width: 600px) {
  .hcenter {
    width: 100%;
  }

  .cell {
    width: calc(80vmin / var(--grid_size));
    height: calc(80vmin / var(--grid_size));
    font-size: calc(25vmin / var(--grid_size));
  }

  .btn {
    font-size: 3.5vmin;
  }

  .size-select {
    flex-wrap: wrap;
  }

  .size-select-btn {
    width: 3rem;
    height: 3rem;
  }

  .start-btn,
  .marathon-btn {
    width: 10rem;
    height: 4rem;
  }
}
